

/* Login page
-------------------------------------------------- */

.login-box {
   min-width: 500px;
}


/* Tile Puzzle Game
-------------------------------------------------- */

.tile-puzzle {
   background-color: #e5e5e5;
   width: 600px;
   height: 400px;
}

.tile {
   /*background-color: #1b6ec2;*/
   background-image: url("/images/plasma.jpg");
   height: 100px;
   width: 100px;
   overflow: hidden;
}

.tile-selected {
   margin: 0px;
   border: 2px solid red;
   background-color: white;
   opacity: 0.3;
}


/* Navigation Menu
-------------------------------------------------- */

a.navbar-brand {
   white-space: normal;
   text-align: center;
   word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
   color: #fff;
   background-color: #1b6ec2;
   border-color: #1861ac;
}


/* Font Sizes
-------------------------------------------------- */
html {
   font-size: 14px;
}

@media (min-width: 768px) {
   html {
      font-size: 16px;
   }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
   position: relative;
   min-height: 100%;
}

body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
   background-color: #eeeeee;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   white-space: nowrap;
   line-height: 60px; /* Vertically center the text there */
}