@{
   ViewData["Title"] = "Secured Area";
}


<div class="container mt-4">
   <div class="row">
      <div class="col text-center">
         <h1 class="display-4">Welcome @Context.User.Identity.Name</h1>
         <p class="mt-4">
            Press <em>Start Level</em> below, the tiles will shuffle. Select a tile by clicking on it then clicking on another will swap them over.
            Try to put the image back together. Press <em>Reset</em> to reset the level and show the original image.
         </p>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <div class="d-flex">
            <div id="content" class=" m-auto"></div>
         </div>
      </div>
   </div>
</div>

@section Scripts
{
   <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
   <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
   <script src="@Url.Content("~/js/Tutorial.jsx")"></script>
}
